.about_bg{
    
        background-color: rgba(189, 191, 192, 0.685);

}
.about_container{
   display: grid;
   grid-template-columns: 65% 35%;
   overflow: hidden;
}
.about_me{
    padding: 2rem;
    background-color: rgb(255, 255, 255);
    margin: 3rem 0 3rem 2.5rem;
}
.about_me h2{ 
    color: black; 

}
.about_me p{ 
    color: rgb(100, 99, 99); 

}
.about_me_image img{
    width: fit-content;
    height: 25rem; 
}
.about_me_image_mobile{
    display: none;
}


@media screen and (max-width:1024px) {

}
@media screen and (max-width:600px) {
  
.about_container{
    display: grid;
    grid-template-columns: 1fr;
    margin: 0 auto;
}
.about_me{
   
    margin: 1.2rem ;
}
.about_me_image{
    display: none;
}
.about_me_image_mobile{
    display: block;
}
.about_me_image_mobile img{
    height: 87px;
    width: 87px;
    margin: 0px auto;
    border-radius: 45%;
}

  }