header{
    background-image: url(../../assets/background.png);
    width: cover;
    height: 100%;
    

}

.header_wrap{
   display: grid;
   grid-template-columns: 1fr 1fr;
    overflow: hidden;
   gap: 12rem; 
   margin-top: 2rem;
}
.header_contant{
    margin: 4rem 0 0 2rem;
    text-align: justify;
    position: relative;
    
}
.header_contant p{
    margin-top: 1rem;
   
    
}


.btn{
   margin-top: 1.5rem;
  
}
.header_image{
    margin: 0 auto;
   
    width: 20rem;
    height: 25rem;
    position: relative;
    overflow: hidden;
}

h2{
    color: rgb(241, 245, 248);
}
p{
  color: rgb(155, 155, 155);  
}
.header_wrap_mobile{
    display: none;
}

@media screen and (max-width:1024px) {

}
@media screen and (max-width:600px) {
    .header_wrap_mobile{
     display: block;
    }
    .header_wrap_pc{
        display: none;
    }
    .header_wrap{
        display: grid;
        grid-template-columns: 1fr;
        margin-top:0;
         overflow: hidden;
        gap: 1.2rem; 
     
     }
     .header_contant{
        margin: 0 auto;
        margin-bottom: 1rem;
     }
     .header_image{
        border-radius: 2rem;
       position: relative;
       width: 15rem;
       height: 20rem;
     }
     .cta{
        display: flex;
        justify-content: center;
     }
   
  }