@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
*{

margin: 0;
padding: 0;
border: 0;
outline: 0;
box-sizing: border-box;
list-style: none;
text-decoration: none;

}
:root {
    --color-bg:#1f1f38;
    --color-bg-variant:#2c2c6c;
    --color-paimary:#4db5ff;
    --color-paimary-variant:rgba(77,181,255,0.4);
    --color-white:#fff;
    --color-light:rgba(255,255,255,0.6);
    --transition: all 400ms ease;
    
    --container-width-lg:75%;
    --container-width-md:90%;
    --container-width-sm:90%;
    
    }
    html{
        scroll-behavior: smooth;
      }

      body{
        font-family: 'Poppins', 'sans-serif';
        background: #fff;
        color: #1f1f38;
        line-height: 1.7;
      } 
      .container{
        width: var(--container-width-lg);
        margin: 0 auto;
      }
      h1,h2,h3,h4,h5{
        font-weight: 500;
        transition: var(--transition);
       
      }
      h1{
        font-size: 2.0 rem;
      }
      section{
        margin-top: 2rem;
        
      }
      
      .btn{
        width: max-content;
        display: inline-block;
        color: var(--color-paimary);
        padding: 0.75rem 1.2rem;
        border-radius: 0.4rem;
        cursor: pointer;
        border: 1px solid var(--color-paimary);
        transition: var(--transition);
      
      }
      ::-webkit-scrollbar{
        display: none;
      }
      .btn:hover{
      background: var(--color-white);
      color: var(--color-bg);
      border-color: transparent ;
      }
      
      .btn-paimary{
        background: var(--color-paimary);
         color: var(--color-bg);
      }
      
      img{
        display: block;
        width: 100%;
        object-fit: cover;
       
      }
      @media screen and (max-width:1024px) {
        .container{
          width: var(--container-width-md);
        }
        section{
          margin-top: 2rem;;
        
        }
        }
        
        @media screen and (max-width:600px) {
          .container{
            width: var(--container-width-sm);
            min-height: 24rem;
          }
          section > h2{
            margin-bottom: 2rem;;
          }
          }





